<div class="col-md-12">
  <h4>Home/Work  Address </h4>
  <hr class="subTitle-hr">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="form-group">
        <label>Country</label>
        <select class="form-control"  [(ngModel)]="address.countryId" (ngModelChange)="changeCountry($event)">
          <option *ngFor="let country of countries"  value="{{ country.id }}">{{ country.name }}</option>>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="form-group">
        <label for="inlineFormInputGroup">Region</label>
        <select class="form-control" [(ngModel)]="address.regionId" (ngModelChange)="changeRegion($event)">
          <option *ngFor="let region of regions"  value="{{ region.id }}">{{ region.name }}</option>>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="form-group">
        <label for="inlineFormInputGroup">Locatity</label>
        <select class="form-control" [(ngModel)]="address.localityId">
          <option *ngFor="let locality of localities"  value="{{ locality.id }}">{{ locality.name }}</option>>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="form-group">
        <label for="inlineFormInputGroup">Postal Code</label>
        <input class="form-control" [(ngModel)]="address.postcode" type="text" placeholder="Postal Code"/>
      </div>
    </div>
    <div class="col-md-12 col-lg-6">
      <div class="form-group">
        <label for="inlineFormInputGroup">Street</label>
        <input class="form-control" [(ngModel)]="address.street" type="text" placeholder="Street"/>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="form-group radioCustom">
        <label for="inlineFormInputGroup">Type</label>
        <label class="radio-inline">
          <input type="radio" name="tyoeOptions" value="1" /> Home
        </label>
        <label class="radio-inline">
          <input type="radio" name="tyoeOptions" value="2" /> Work
        </label>
      </div>
    </div>
  </div>
</div>
