<nav class="navbar navbar-dark bg-inverse navbar-fixed-top topnav">
    <div class="collapse navbar-toggleable-xs clearfix text-center">
        <a class="navbar-brand" [routerLink]="['/dashboard','/home']">Smart Cities</a>

        <ul class="nav navbar-nav top-nav navbar-right pull-xs-right top-right-nav">
            <li class="dropdown nav-item" ngbDropdown>
                <!-- <div class="dropdown"> -->
                    <a href="javascript:;" id="name2" class="nav-link dropdown-toggle info-number" ngbDropdownToggle>
                        <i class="fa fa-bell"></i><span class="label-pill">9+</span> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu alert-dropdown" aria-labelledby="name2">
                        <li >
                            <a href="javascript:;" class="dropdown-item">Traffic alerts 
                            <span class="label-pill label-danger pull-right">2</span></a>
                        </li>
                        <li >
                            <a href="javascript:;" class="dropdown-item">Health alerts
                            <span class="label-pill label-success pull-right">2</span>
                            </a>
                        </li>
                        <li >
                            <a href="javascript:;" class="dropdown-item">Pollutation alerts
                            <span class="label-pill label-warning pull-right">2</span>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li>
                            <a href="javascript:;" class="dropdown-item">View All</a>
                        </li>
                    </ul>
                <!-- </div> -->
            </li>
            <li class="dropdown nav-item" ngbDropdown>
                <a href="javascript:;" id="single-button" class="nav-link dropdown-toggle" ngbDropdownToggle >
                    Infotec <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="single-button">
                    <li>
                        <a class="dropdown-item" href="javascript:;" routerLink="/smart-cities/user-account/profile">User Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:;" routerLink="/smart-cities/user-account/profile">Health Profile</a>
                    </li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" class="dropdown-item">Settings</a>
                        
                            <ul class="dropdown-menu pull-left">
                                <li><a class="dropdown-item">Change Your Password</a></li>
                                <li><a class="dropdown-item">Cancel Account</a></li>
                            </ul>
                        
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="javascript:;" [routerLink]="['/']">
                             Log Out
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
