  

  
  <div class="row">
    <div class="col-md-12">
      <h2>Vehicles</h2>
      <hr class="title-hr">
      <div class="row">
         <!-- Implementación de ventana modal -->
        <modal-popup [(visible)]="showDialog" title="System Message">
          {{messageModal}}
        <hr>
        <textarea *ngIf="includeText" type="text" class="form-control"> </textarea>
        <hr *ngIf="includeText">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="confirmDelete()">Yes</button>
        <button *ngIf="isConfirm" type="button" class="btn btn-primary" data-dismiss="modal" (click)="showDialog = false">No</button>
        </modal-popup>
        <!-- ************************************************* -->

        <div class="col-md-6">
          <div class="form-group">
            <label for="inlineFormInputGroup">Search</label>
            <input id="myInput" type="text" (keyup)="FilterData()" class="form-control" placeholder="Search..."/>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="form-group">
            <span class="labelHidden"></span>
            <a [routerLink]="['/smart-cities/user-vehicle/vehicle', '']" type="submit" class="btn btn-smart btn-block" > Add </a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <hr class="subTitle-hr">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="myTable" class="table ">
      <thead class="thead-default">
          <tr>
              <th>Name</th>
              <th>Vehicle type</th>
              <th>Plate identifier</th>
              <th>Brand name</th>
              <th>Model name</th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let vehicle of vehicles | paginate: { itemsPerPage: 4, currentPage: p }">
              <td>{{vehicle.name}}</td>
              <td>{{vehicle.vehicleType}}</td>
              <td>{{vehicle.vehiclPlateIdentifier}}</td>
              <td>{{vehicle.brandName}}</td>
              <td>{{vehicle.modelName}}</td>
              <td>
                <a [routerLink]="['/smart-cities/user-vehicle/vehicle', vehicle.index]" 
                  class="btn btn-smart" ngbtooltip="Edit" placement="top">
                  <i aria-hidden="true" class="fa fa-pencil"></i>
                </a>
              </td>
              <td>
                <a class="btn btn-danger" ngbtooltip="Edit" placement="top">
                  <!--<i aria-hidden="true" class="fa fa-trash" (click)="confirmDelete(vehicle.index)"></i>-->
                  <i aria-hidden="true" class="fa fa-trash" (click)="showDialog=true;Objvehicle=vehicle"> </i>
                </a>
              </td>
          </tr>
      </tbody>
  </table>
            
          </div>


        </div>
        <div class="col-md-12">
          <div class="form-group">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>