<form [formGroup]="Form">
  <div class="row">
    <div class="col-md-12">   
      <h2>Notifications</h2>
      <hr class="title-hr">
      <div class="row">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          <p class="text-xs-center"><strong>{{errorMessage}}</strong></p>
        </div>
         <!-- Implementación de ventana modal -->
        <modal-popup [(visible)]="showDialog" title="System Message">
          {{messageModal}}
        <hr>
        <textarea *ngIf="includeText" type="text" class="form-control"> </textarea>
        <hr *ngIf="includeText">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="confirmDelete()">Accept</button>
        <button *ngIf="isConfirm" type="button" class="btn btn-danger" data-dismiss="modal" (click)="showDialog = false">Cancel</button>
        </modal-popup>
        <!-- ************************************************* -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="notificationType">Type alert</label>
            <select id="notificationType" class="form-control" [formControl]="Form.controls['notificationType']" (ngModelChange)="onNotificationTypeChange($event)">
                <option value="-1">Select...</option>
                <option value="0">All</option>
                <option *ngFor="let notification of notifications" value="{{ notification.id }}">{{notification.name}}</option>
              </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="subNotification">Subtype Alert</label>
            <select id="subNotification" class="form-control" [formControl]="Form.controls['subNotification']">
              <option value="-1" disabled>Select</option>
              <option *ngFor="let subNotification of subNotifications"  value="{{ subNotification.id }}">{{ subNotification.name }}</option>>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="alertDate">Date</label>
            <input class="form-control" type="date" id="alertDate" placeholder="yyyy-mm-dd"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <span class="labelHidden"></span>
            <button class="btn btn-smart btn-block" (click)="OnClear()" > Clear </button>
          </div>
        </div>
         <div class="col-md-3">
          <div class="form-group">
            <span class="labelHidden"></span>
            <button class="btn btn-smart btn-block" (click)="onSearch()" > Search </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="myTable" class="table ">
      <thead class="thead-default">
          <tr>
              <th>Location</th>
              <th>Type alert</th>
              <th>Subtype alert</th>
              <th>Date</th>
              <th>Description</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let alert of alerts | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }">
              <td>{{alert.locationDescription}}</td>
              <td>{{alert.alertType}}</td>
              <td>{{alert.subtypeAlert}}</td>
              <td>{{alert.dateTime}}</td>
              <td>{{alert.description}}</td>
              <td>
                <button *ngIf="isUser" aria-hidden="true" class="btn btn-danger fa fa-trash" ngbtooltip="Delete" placement="top"></button>
              </td>
          </tr>
      </tbody>
  </table>
            
          </div>


        </div>
        <div class="col-md-12">
          <div class="form-group">
            <pagination-controls (pageChange)="pageChanged($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>