<h2>
  <span *ngIf="!transportSchedule.id">Add transport schedule</span>
  <span *ngIf="transportSchedule.id">Edit transport schedule</span>
</h2>
<hr class="title-hr">

<form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <div class="row">
    <div class="col">
      <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['routeName'].valid && complexForm.controls['routeName'].touched}">
        <label for="routeName">Route name *</label>
        <input id="routeName" type="text" class="form-control" placeholder="Route name" [formControl]="complexForm.controls['routeName']" size="150" />
        <div *ngIf="complexForm.controls['routeName'].hasError('required') && complexForm.controls['routeName'].touched" class="alert alert-danger" i18n>The route name is required</div>
        <div *ngIf="complexForm.controls['routeName'].hasError('maxlength') && complexForm.controls['routeName'].touched" class="alert alert-danger" i18n>The route name field will have a maximun length of 150 alphanumerical characters</div>
      </div>
    </div>
  </div>

  <!-- TABLA -->

  <div class="row">
    <div class="col">
      <div class="table-resposive">
        <div class="no-more-tables">
          <table class="table table-schedule table-hover">
            <thead>
              <tr>
                <th>Weekdays</th>
                <th>Active / inactive</th>
                <th>Departure time *</th>
                <th>Arrival time *</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let weekDay of transportSchedule.weekDays">
                <td data-title="Weekdays">{{ weekDay.nameAsString }} *</td>
                <td data-title="Active / inactive">
                  <label class="custom-control custom-checkbox">
                    <input id="{{ weekDay.nameAsString }}-active" type="checkbox" class="custom-control-input" [formControl]="complexForm.controls[ weekDay.nameAsString + '-active']" (change)="changeActive($event)" >
                    <span class="custom-control-indicator"></span>
                  </label>
                </td>
                <td data-title="Departure time">
                  <ngb-timepicker [formControl]="complexForm.controls[ weekDay.nameAsString + '-departure']" class="time-picker" [ngClass]="{'has-danger':!complexForm.controls[weekDay.nameAsString + '-departure'].valid && !complexForm.controls[weekDay.nameAsString + '-departure'].disabled}" ></ngb-timepicker>
                </td>
                <td data-title="Arrival time">
                  <ngb-timepicker [formControl]="complexForm.controls[ weekDay.nameAsString + '-arrival']" class="time-picker"  [ngClass]="{'has-danger':!complexForm.controls[weekDay.nameAsString + '-arrival'].valid && !complexForm.controls[weekDay.nameAsString + '-arrival'].disabled}" ></ngb-timepicker>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <input type="hidden" [formControl]="complexForm.controls['count']" />
    <div *ngIf="complexForm.controls['count'].hasError('notEqual')" class="alert alert-danger col-md-12" i18n>The weekdays are required</div>
  </div>


  <div class="row">
    <div class="col">
      <div class="form-group" >
        <label for="frequency">Frequency *</label>
        <div class="row">
          <div class="col-md-6">
            <ngb-timepicker id="frequency" class="time-picker" [ngClass]="{'has-danger':!complexForm.controls['frequency'].valid && complexForm.controls['frequency'].touched}"
             [formControl]="complexForm.controls['frequency']"></ngb-timepicker>
          </div>
        </div>
        <div *ngIf="complexForm.controls['frequency'].hasError('required') && complexForm.controls['frequency'].touched" class="alert alert-danger" i18n>The frequency is required.</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['idAgency'].valid && complexForm.controls['idAgency'].touched}">
        <label for="idAgency">Agency *</label>
        <select id="idAgency" class="form-control" [formControl]="complexForm.controls['idAgency']" (change)="onChangeAgency($event)">
          <option value="-1" disabled >Select</option>
          <option *ngFor="let agency of agencies" value="{{ agency.id }}" >{{ agency.name }}</option>
        </select>
        <div *ngIf="complexForm.controls['idAgency'].hasError('notEqual') && complexForm.controls['idAgency'].touched" class="alert alert-danger" i18n>The agency is required</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>URL</label>
        <input type="url" class="form-control" placeholder="URL" readonly value="{{ agencySelected.url }}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Timezone</label>
        <input type="url" class="form-control" placeholder="Timezone" readonly value="{{ agencySelected.timezone }}">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Language</label>
        <input type="url" class="form-control" placeholder="Language" readonly value="{{ agencySelected.language }}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 offset-lg-6 col-md-6">
      <div class="form-group">
        <button class="btn btn-danger btn-block active" (click)="onBack()"> Cancel </button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="form-group">
        <button type="submit" class="btn btn-smart btn-block" [disabled]="!complexForm.valid" i18n > Save </button>
      </div>
    </div>
  </div>

</form>

<modal-popup [(visible)]="showDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="onContinue()">Accept</button>
</modal-popup>

<modal-popup [(visible)]="showErrorDialog" title="Error Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="showErrorDialog = false">Accept</button>
</modal-popup>
