<h2>
  Health profile
</h2>
<hr class="title-hr">
<div class="row">
  <div class="col-md-12">
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      <p class="text-xs-center"><strong>{{successMessage}}</strong></p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <p class="text-xs-center"><strong>{{errorMessage}}</strong></p>
    </div>
    <p>Register / Edit health data (Data marked with * are required)</p>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <p>The objective of Green Route is to help the final user to determine the best route to follow to reach a destination, taking into account your health condition. Please, we invite you to indicate your current health status, this information will be used to generate a route according you health condition.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="health-state">Health state</label>
          <select class="form-control" [(ngModel)]="healthProfile.healthState">
            <option *ngFor="let state of healthStates" [ngValue]="state"  >{{state}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" [hidden]="!(healthProfile.healthState == 'Allergy')">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label >Allergy symptoms</label>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let symptom of allergySymptoms">
            <div class="form-check" >
              <label class="form-check-label">
                <input class="form-check-input symptom" [checked]="hhealthProfile?.allergySymptoms.includes(symptom)" name="symptom" type="checkbox" value="{{symptom}}">
                {{symptom}}
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12" [hidden]="!(healthProfile.healthState == 'Asthma')">
      <div class="form-group">
        <label >Asthma level</label>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <img *ngIf="!healthProfile.asthmaLevel" src="../../assets/img/asthma-level-1.svg" style="max-height: 280px" class="img-fluid center-block"/>
          <img *ngIf="healthProfile.asthmaLevel" src="../../assets/img/asthma-level-{{healthProfile.asthmaLevel}}.svg" style="max-height: 280px" class="img-fluid center-block"/>
        </div>
        <div class="col-sm-9">
          <div class="col-sm-12">

            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="healthProfile.asthmaLevel" type="radio" name="asthma-level"  [value]="4">
                Severe persistent asthma
              </label>
              <ul [hidden]="!(healthProfile.asthmaLevel == 4)">
                <li>
                  Symptoms of a cough, wheeze, chest tightness or difficulty breathing continuously.
                </li>
                <li>
                  Severely limit daily physical activities
                </li>
                <li>
                  Nighttime symptoms frequently
                </li>
              </ul>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="healthProfile.asthmaLevel" type="radio" name="asthma-level"  [value]="3">
                Moderate persistent asthma
              </label>
              <ul [hidden]="!(healthProfile.asthmaLevel == 3)">
                <li>
                  Symptoms of a cough, wheeze, chest tightness or difficulty breathing daily
                </li>
                <li>
                  Symptoms interfere with daily activities
                </li>
                <li>
                  Nighttime symptoms 5 or more times a month
                </li>
              </ul>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="healthProfile.asthmaLevel" type="radio" name="asthma-level"  [value]="2">
                Mild persistent asthma
              </label>
              <ul [hidden]="!(healthProfile.asthmaLevel == 2)">
                <li>
                  Symptoms of a cough, wheeze, chest tightness or difficulty breathing three to six times a week
                </li>
                <li>
                  Attacks interfere with daily activities.
                </li>
                <li>
                  Nighttime symptoms three to four times a month
                </li>
              </ul>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" [(ngModel)]="healthProfile.asthmaLevel" type="radio" name="asthma-level"  [value]="1">
                Mild intermittent asthma
              </label>
              <ul [hidden]="!(healthProfile.asthmaLevel == 1)">
                <li>
                  Symptoms of a cough, wheeze, chest tightness or difficulty breathing less than twice a week
                </li>
                <li>
                  Do not interfere with normal activities
                </li>
                <li>
                   Nighttime symptoms less than twice a month
                </li>
              </ul>
            </div>
          </div>    
        </div>
    </div>
  </div>

  <div class="clearfix"></div>

    <div class="col-md-3 offset-md-6">
      <div class="form-group">
        <a [routerLink]="['/smart-cities']" class="btn btn-danger btn-block" > Cancel </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <button [disabled]="enableSave()" class="btn btn-smart btn-block" (click)="save()"> Save </button>
      </div>
    </div>

</div>
<!-- Implementación de ventana modal -->
<modal-popup [(visible)]="showDialog" title="System Message">
  {{messageModal}}
  <hr>
  <textarea *ngIf="includeText" type="text" class="form-control"> </textarea>
  <hr *ngIf="includeText">
  <a [routerLink]="['/smart-cities']" class="btn btn-smart btn-block" > Accept </a>
</modal-popup>
<!-- ************************************************* -->