<div class="row">
  <div class="col-md-12">
    <h2>Search public transport</h2>
    <hr class="title-hr">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text"  [(ngModel)]="name" class="form-control" placeholder="Name"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Route name</label>
          <input type="text"  [(ngModel)]="route" class="form-control" placeholder="Route name"/>
        </div>
      </div>
    </div>





    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="">Weekdays</label>
            <select id="Weekdays" multiple class="form-control" [(ngModel)]="dayNameSelectedVal">
                <option *ngFor="let dayName of dayNames" [ngValue]="dayName.name">{{dayName.name}}</option>
            </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="departureTime">Departure time</label>
          <ngb-timepicker id="departureTime" [(ngModel)]="departureTime" class="time-picker"></ngb-timepicker>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label for="arrivalTime">Arrival time</label>
          <ngb-timepicker id="arrivalTime" [(ngModel)]="arrivalTime" class="time-picker"></ngb-timepicker>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="form-group">
          <span class="labelHidden"></span>
          <button type="submit" class="btn btn-smart btn-block" (click)="resetForm()"> Clear </button>
        </div>
      </div>

      <div class="col-md-3 ">
        <div class="form-group">
          <span class="labelHidden"></span>
          <button (click)="search()" type="submit" class="btn btn-smart btn-block" > Search </button>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <hr class="subTitle-hr">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <div class="no-more-tables">
            <table class="table ">
              <thead class="thead-default">
                <tr>
                  <th>Name</th>
                  <th>Route name</th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                  <th>Saturday</th>
                  <th>Sunday</th>
                  <th>Frequency</th>
                  <th>Agency</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <template ngFor let-publicTransport [ngForOf]="publicTransports| paginate: { itemsPerPage: 5, currentPage: p }">
               <!-- <tr *ngFor="let publicTransport of publicTransports | paginate: { itemsPerPage: 5, currentPage: p }">-->
                 <tr *ngFor="let transporSchedule of publicTransport.transportSchedules" > 
                  <td data-title="Name">{{ publicTransport.name }}</td>

                  <td data-title="Route name">
                   <!-- <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">{{ publicTransport.transportSchedules[0].routeName }}</span>-->
                    <span *ngIf="transporSchedule">{{ transporSchedule.routeName }}</span>
                  </td>

                  <td data-title="Monday">
                   <!-- <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                    <span *ngIf="publicTransport.transportSchedules[0].weekDays[0].active">
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[0].departureTime != null">
                        {{ publicTransport.transportSchedules[0].weekDays[0].departureTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[0].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[0].arrivalTime != null">
                        {{ publicTransport.transportSchedules[0].weekDays[0].arrivalTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[0].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>-->
                    <span *ngIf="transporSchedule ">
                    <span *ngIf="transporSchedule.weekDays[0].active">
                      <span *ngIf="transporSchedule.weekDays[0].departureTime != null">
                        {{ transporSchedule.weekDays[0].departureTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[0].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="transporSchedule.weekDays[0].arrivalTime != null">
                        {{ transporSchedule.weekDays[0].arrivalTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[0].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>
                  </td>
                  <td data-title="Tuesday">
                   <!-- <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[1].active">
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[1].departureTime != null">
                          {{ publicTransport.transportSchedules[0].weekDays[1].departureTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[1].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[1].arrivalTime != null">
                          {{ publicTransport.transportSchedules[0].weekDays[1].arrivalTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[1].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </span>-->
                     <span *ngIf="transporSchedule ">
                    <span *ngIf="transporSchedule.weekDays[1].active">
                      <span *ngIf="transporSchedule.weekDays[1].departureTime != null">
                        {{ transporSchedule.weekDays[1].departureTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[1].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="transporSchedule.weekDays[0].arrivalTime != null">
                        {{ transporSchedule.weekDays[1].arrivalTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[1].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>
                  </td>
                  <td data-title="Wednesday">
                    <!--<span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[2].active">
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[2].departureTime">
                          {{ publicTransport.transportSchedules[0].weekDays[2].departureTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[2].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[2].arrivalTime">
                          {{ publicTransport.transportSchedules[0].weekDays[2].arrivalTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[2].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </span>-->
                     <span *ngIf="transporSchedule ">
                    <span *ngIf="transporSchedule.weekDays[2].active">
                      <span *ngIf="transporSchedule.weekDays[2].departureTime != null">
                        {{ transporSchedule.weekDays[2].departureTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[2].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="transporSchedule.weekDays[0].arrivalTime != null">
                        {{ transporSchedule.weekDays[2].arrivalTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[2].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>
                  </td>
                  <td data-title="Thursday">
                   <!-- <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[3].active">
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[3].departureTime">
                          {{ publicTransport.transportSchedules[0].weekDays[3].departureTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[3].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[3].arrivalTime">
                          {{ publicTransport.transportSchedules[0].weekDays[3].arrivalTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[3].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </span>-->
                     <span *ngIf="transporSchedule ">
                    <span *ngIf="transporSchedule.weekDays[3].active">
                      <span *ngIf="transporSchedule.weekDays[3].departureTime != null">
                        {{ transporSchedule.weekDays[3].departureTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[3].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="transporSchedule.weekDays[0].arrivalTime != null">
                        {{ transporSchedule.weekDays[3].arrivalTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[3].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>
                  </td>
                  <td data-title="Friday">
                   <!-- <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[4].active">
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[4].departureTime">
                          {{ publicTransport.transportSchedules[0].weekDays[4].departureTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[4].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[4].arrivalTime">
                          {{ publicTransport.transportSchedules[0].weekDays[4].arrivalTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[4].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </span>-->
                     <span *ngIf="transporSchedule ">
                    <span *ngIf="transporSchedule.weekDays[4].active">
                      <span *ngIf="transporSchedule.weekDays[4].departureTime != null">
                        {{ transporSchedule.weekDays[4].departureTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[4].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="transporSchedule.weekDays[4].arrivalTime != null">
                        {{ transporSchedule.weekDays[4].arrivalTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[4].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>
                  </td>
                  <td data-title="Saturday">
                   <!-- <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[5].active">
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[5].departureTime">
                          {{ publicTransport.transportSchedules[0].weekDays[5].departureTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[5].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[5].arrivalTime">
                          {{ publicTransport.transportSchedules[0].weekDays[5].arrivalTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[5].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </span>-->
                     <span *ngIf="transporSchedule ">
                    <span *ngIf="transporSchedule.weekDays[5].active">
                      <span *ngIf="transporSchedule.weekDays[5].departureTime != null">
                        {{ transporSchedule.weekDays[5].departureTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[5].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="transporSchedule.weekDays[0].arrivalTime != null">
                        {{ transporSchedule.weekDays[5].arrivalTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[5].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>
                  </td>
                  <td data-title="Sunday">
                    <!--<span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                      <span *ngIf="publicTransport.transportSchedules[0].weekDays[6].active">
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[6].departureTime">
                          {{ publicTransport.transportSchedules[0].weekDays[6].departureTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[6].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="publicTransport.transportSchedules[0].weekDays[6].arrivalTime">
                          {{ publicTransport.transportSchedules[0].weekDays[6].arrivalTime.hour | number: '2.0' }}:{{ publicTransport.transportSchedules[0].weekDays[6].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </span>-->
                     <span *ngIf="transporSchedule ">
                    <span *ngIf="transporSchedule.weekDays[6].active">
                      <span *ngIf="transporSchedule.weekDays[6].departureTime != null">
                        {{ transporSchedule.weekDays[6].departureTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[6].departureTime.minute | number: '2.0' }}
                      </span>
                      -
                      <span *ngIf="transporSchedule.weekDays[6].arrivalTime != null">
                        {{ transporSchedule.weekDays[6].arrivalTime.hour | number: '2.0' }}:{{ transporSchedule.weekDays[6].arrivalTime.minute | number: '2.0' }}
                      </span>
                    </span>
                    </span>
                  </td>



                  <td data-title="Frequency">
                    <!--
                    <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">
                      <span *ngIf="publicTransport.transportSchedules[0].frequency.hour != 0" >{{ publicTransport.transportSchedules[0].frequency.hour | number: '2.0' }}:</span><span>{{ publicTransport.transportSchedules[0].frequency.minute | number: '2.0' }}</span>
                      <span *ngIf="publicTransport.transportSchedules[0].frequency.hour != 0" >hrs</span>
                      <span *ngIf="publicTransport.transportSchedules[0].frequency.hour == 0" >min</span>
                    </span>-->
                    <span *ngIf="transporSchedule">
                      <span *ngIf="transporSchedule.frequency.hour != 0" >{{ transporSchedule.frequency.hour | number: '2.0' }}:</span><span>{{ transporSchedule.frequency.minute | number: '2.0' }}</span>
                      <span *ngIf="transporSchedule.frequency.hour != 0" >hrs</span>
                      <span *ngIf="transporSchedule.frequency.hour == 0" >min</span>
                    </span>
                  </td>

                  <td data-title="Agency">
                    <!--
                    <span *ngIf="publicTransport.transportSchedules && publicTransport.transportSchedules[0]">{{ publicTransport.transportSchedules[0].agency.name }}</span>
                    -->
                    <span *ngIf="transporSchedule">{{ transporSchedule.agency.name }}</span>
                  </td>

                  <td>
                    <a class="btn btn-smart" ngbTooltip="Edit" placement="top" [class.disabled]="disableLink(publicTransport.creatorId)" routerLink="/smart-cities/public-transport/detail/{{ publicTransport.id }}" routerLinkActive="active">
                      <i aria-hidden="true" class="fa fa-pencil"></i>
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-danger" ngbTooltip="Delete" placement="top" [class.disabled]="disableLink(publicTransport.creatorId)" (click)="onPreDelete(publicTransport.id)">
                      <i aria-hidden="true" class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                </template>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="13" align="center">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-6">
        <div class="form-group">
          <button type="submit" class="btn btn-danger btn-block" routerLink="/smart-cities" routerLinkActive="active"> Cancel </button>
        </div>
      </div>
    </div>

  </div>
</div>

<modal-popup [(visible)]="showDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="showDialog = false">Accept</button>
</modal-popup>

<modal-popup [(visible)]="showConfirmDialog" title="System Message">
  {{messageModal}}
  <hr/>

  <form [formGroup]="complexForm" (ngSubmit)="submitFormDelete(complexForm.value)">
    <div class="row">
      <div class="col">
        <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['removeReason'].valid && complexForm.controls['removeReason'].touched}">
          <label for="">Remove reason *</label>
          <textarea class="form-control" [formControl]="complexForm.controls['removeReason']">
          </textarea>
        </div>
        <div *ngIf="complexForm.controls['removeReason'].hasError('required') && complexForm.controls['removeReason'].touched" class="alert alert-danger" i18n>The motivation is required</div>
        <div *ngIf="complexForm.controls['removeReason'].hasError('minlength') && complexForm.controls['removeReason'].touched" class="alert alert-danger" i18n>The remove motivation field will have a minimun length of 2 alphanumerical characters</div>
        <div *ngIf="complexForm.controls['removeReason'].hasError('maxlength') && complexForm.controls['removeReason'].touched" class="alert alert-danger" i18n>The remove motivation field will have a maximun length of 200 alphanumerical characters</div>
      </div>
    </div>

    <hr/>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" (click)="showConfirmDialog = false">Cancel</button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-smart btn-block" data-dismiss="modal" [disabled]="!complexForm.valid" i18n >Accept</button>
      </div>
    </div>
  </form>
</modal-popup>

<modal-popup [(visible)]="showErrorDialog" title="Error Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="showErrorDialog = false">Accept</button>
</modal-popup>
