 <div class="row">
    <div class="col-md-12">
      <h2>Search public transport</h2>
      <hr class="title-hr">
      
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text"  class="form-control" placeholder="Name"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Route name</label>
            <input type="text"  class="form-control" placeholder="Route name"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Weekdays</label>
            <input type="text"  class="form-control" placeholder="Weekdays"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Departure time</label>
            <input type="text"  class="form-control" placeholder="Departure time"/>
          </div>
        </div>
      </div>

      
      <div class="row">
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Arrival time</label>
            <input type="text"  class="form-control" placeholder="Arrival time"/>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="form-group">
            <span class="labelHidden"></span>
            <button type="submit" class="btn btn-smart btn-block" > Clear </button>
          </div>
        </div>

        <div class="col-md-3 ">
          <div class="form-group">
            <span class="labelHidden"></span>
            <button [routerLink]="['/smart-cities/transport', '']" type="submit" class="btn btn-smart btn-block" > Search </button>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <hr class="subTitle-hr">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table ">
              <thead class="thead-default">
                  <tr>
                      <th>Name</th>
                      <th>Route name</th>
                      <th>Weekdays</th>
                      <th>Departure time</th>
                      <th>Arrival time</th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  <tr >
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                        <a class="btn btn-smart" ngbTooltip="Edit" placement="top">
                          <i aria-hidden="true" class="fa fa-pencil"></i>
                        </a>
                      </td>
                      <td>
                        <a class="btn btn-danger" ngbTooltip="Delete" placement="top">
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </a>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-6">
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block" > Cancel </button>
          </div>
        </div>
      </div>

    </div>
  </div>