<h2>Groups</h2>
<hr class="title-hr">
<p>You can received real time alerts from weather conditions, pollution, traffic, and so on from other users. If you want to receive alerts you should subscribe to a group or groups, according your preferences.</p>
<div class="row">
  <div class="col-md-12">
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      <p class="text-xs-center"><strong>{{successMessage}}</strong></p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <p class="text-xs-center"><strong>{{errorMessage}}</strong></p>
    </div>
  </div>
</div>
<div *ngIf="!isLoaded">Loading...</div>
<div *ngIf="isLoaded" class="row">
  <div class="card-block">
    <ngb-accordion #acc="ngbAccordion">

      <ngb-panel *ngFor="let group of groups">
        <template ngbPanelTitle>
          <span>{{group.group}}</span>
        </template>
        <template ngbPanelContent>
          <div  class="row" *ngFor="let notification of group.notificacionNames; let i = index">
            <div class="col-md-3">
              <div class="form-group">
                {{notification}}
              </div>              
            </div>
            <div class="col-md-3" *ngIf="i==0">
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input [(ngModel)]="group.subscribed" type="checkbox" class="custom-control-input"/>
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Subscribe</span>
                </label>
              </div>
            </div>
          </div>
        </template>
      </ngb-panel>
    </ngb-accordion>
    <!-- Implementación de ventana modal -->
    <modal-popup [(visible)]="showDialog" title="System Message">
      {{messageModal}}
      <hr>
      <textarea *ngIf="includeText" type="text" class="form-control"> </textarea>
      <hr *ngIf="includeText">
      <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="closeModal(acc)">Accept</button>
    </modal-popup>
    <!-- ************************************************* -->
  </div>
</div>

<div *ngIf="isLoaded" class="row">
  <div class="col-md-3 offset-md-6">
    <div class="form-group">
      <button routerLink="/smart-cities" type="submit" class="btn btn-danger btn-block" > Cancel </button>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <button class="btn btn-smart btn-block" (click)="save()"> Save </button>
    </div>
  </div>
</div>


