<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">

    <ul class="list-group userMainMenu">
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('sMenu1')">
                <span class="iBlock"><i class="fa fa-user" aria-hidden="true"></i></span> {{ identityUser.name }} <span class="fa fa-chevron-down pull-right"></span>
            </a>
            <li class="nested" [ngClass]="{'expand' : showMenu === 'sMenu1' }">
                <ul class="submenu">
                    <li>
                        <a routerLink="/smart-cities/user-account/profile" routerLinkActive="active"><span> User profile</span></a>
                    </li>
                    <li *ngIf="isUser">
                        <a routerLink="/smart-cities/user-account/health-profile" routerLinkActive="active"><span> Health profile</span></a>
                    </li>
                    <a class="<list-gro></list-gro>up-item lgiCustom" (click)="addExpandSubClass('sMenu2')">
                        Settings <span class="fa fa-chevron-down pull-right"></span>
                    </a>
                    <li class="nested" [ngClass]="{'expand1' : showSetting === 'sMenu2' }">
                        <ul class="submenu1">
                            <li>
                                <a routerLink="/smart-cities/user-account/credentials" routerLinkActive="active"><span>Change Your Password</span></a>
                            </li>

                            <li>
                                <a routerLink="/smart-cities/user-account/close-account" routerLinkActive="active"><span>Cancel Account</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLinkActive="active" (click)="logout()"><span>Log Out</span></a>
                    </li>
                </ul>
            </li>
        </div>


    </ul>
    <ul class="list-group">


        <a routerLink="/smart-cities" routerLinkActive="active" class="list-group-item">
            <span class="iBlock"><i class="fa fa-home" aria-hidden="true"></i></span> Home
        </a>
        <a routerLinkActive="active" (click)="onChangeLocation(0)" class="list-group-item" *ngIf="isUser">
            <span class="iBlock"><i class="fa fa-bell" aria-hidden="true"></i></span> Alerts
        </a>
        <a routerLink="/smart-cities/notification/notification-tray/0" routerLinkActive="active" class="list-group-item" *ngIf="isAdmin">
            <span class="iBlock"><i class="fa fa-bell" aria-hidden="true"></i></span> Alerts
        </a>
        <div class="nested-menu2" *ngIf="isSA || isAdmin">
            <a class="list-group-item">
                <span class="iBlock"><i class="fa fa-user" aria-hidden="true"></i></span> Manage site
            </a>
            <li class="nested">
                <ul class="submenu">
                    <li>
                        <a routerLink="/smart-cities/group/groups" routerLinkActive="active" *ngIf="isSA || isAdmin">
                            <span class="iBlock"><i class="fa fa-users" aria-hidden="true"></i></span> Groups
                        </a>
                    </li>
                    <li>
                        <a routerLink="/smart-cities/user-account/health-profile" routerLinkActive="active">
                            <span class="iBlock"><i class="fa fa-check-square-o" aria-hidden="true"></i></span> Rules
                        </a>
                    </li>
                    <li *ngIf="isSA || isAdmin">
                        <a routerLink="/smart-cities/user-manager/user-manager-tray" routerLinkActive="active">
                            <span class="iBlock"><i class="fa fa-user" aria-hidden="true"></i></span> User
                        </a>
                    </li>
                    <li>
                        <a routerLink="/smart-cities/transport-schedule/search-schedule" routerLinkActive="active" *ngIf="isSA">
                            <span class="iBlock"><i class="fa fa-calendar" aria-hidden="true"></i></span> Transport Schedule
                        </a>
                    </li>
                    <li>
                        <a routerLink="/smart-cities/transports" routerLinkActive="active" *ngIf="isSA">
                            <span class="iBlock"><i class="fa fa-train" aria-hidden="true"></i></span> Public Transport
                        </a>
                    </li>
                    <li>
                        <a routerLink="/smart-cities/transports" routerLinkActive="active" *ngIf="isSA || isAdmin">
                            <span class="iBlock"><i class="fa fa-wifi" aria-hidden="true"></i></span> Devices
                        </a>
                    </li>
                </ul>
            </li>

        </div>



        <a routerLink="/smart-cities/notification/notification-user-tray/0" routerLinkActive="active" class="list-group-item" *ngIf="isUser">
            <span class="iBlock"><i class="fa fa-flag" aria-hidden="true"></i></span> My Events
        </a>
        <a routerLink="/smart-cities/user-account/user-group" routerLinkActive="active" class="list-group-item" *ngIf="isUser">
            <span class="iBlock"><i class="fa fa-users" aria-hidden="true"></i></span> Groups
        </a>

        <a href="http://207.249.121.43/cdmx2/" target="_blank" class="list-group-item" *ngIf="isUser">
            <span class="iBlock"><i class="fa fa-map" aria-hidden="true"></i></span> Maps
        </a>
        <a href="http://routing.smartsdk.ubiwhere.com/" target="_new" class="list-group-item" *ngIf="isUser">
            <span class="iBlock"><i class="fa fa-map-marker" aria-hidden="true"></i></span> Generate Routes
        </a>
        <a routerLinkActive="active" class="list-group-item" *ngIf="isUser">
            <span class="iBlock"><i class="fa fa-bus" aria-hidden="true"></i></span> Transport
        </a>


        <div class="nested-menu2" *ngIf="isTransportAdmin">
            <a class="list-group-item">
                <span class="iBlock"><i class="fa fa-bus" aria-hidden="true"></i></span> Transport
            </a>
            <li class="nested">
                <ul class="submenu">
                    <li>
                        <a routerLinkActive="active" *ngIf="false">
                            <span class="iBlock"><i class="fa fa-car" aria-hidden="true"></i></span> Private transport
                        </a>
                    </li>
                    <li>
                        <a routerLink="/smart-cities/transport-schedule/search-schedule" routerLinkActive="active">
                            <span class="iBlock"><i class="fa fa-calendar" aria-hidden="true"></i></span> Transport Schedule
                        </a>
                    </li>
                    <li>
                        <a routerLink="/smart-cities/transports" routerLinkActive="active">
                            <span class="iBlock"><i class="fa fa-train" aria-hidden="true"></i></span> Public Transport
                        </a>
                    </li>

                </ul>
            </li>

        </div>



    </ul>
</nav>
