<div class="login-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 push-lg-4 col-md-8 push-md-2">
        <div class="row">
          <div class="col-md-12">
            <h1> Verification Account </h1>
          </div>
        </div>
        <div class="panel panel-default" *ngIf="showTokenError">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <h2>Invalid token</h2>
                <div class="row">
                  <div class="col-lg-12">
                    <p>Your token is invalid, you must register again.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="container footerLogin">
    <div class="row">
      <app-footer></app-footer>
    </div>
  </div>

</div>
