<div role="alert" class="alert alert-warning text-center">
  <h2>Cancel account</h2>
    Are you sure? Cancelling your account implies the deletion of all your data.<br>
    <b>This action is permanent</b>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <a class="btn btn-block btn-danger" routerLink="/smart-cities" routerLinkActive="active">Cancel</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <a class="btn btn-block btn-smart" (click)="cancelAccount()">Accept</a>
    </div>
  </div>
</div>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>


<!-- Implementación de ventana modal -->
<modal-popup [(visible)]="showDialog" title="Message">
  {{ messageModal }}
  <hr>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="errorButtonInfo" data-dismiss="modal">Accept</button>
    <button type="button" class="btn btn-primary" *ngIf="!errorButtonInfo" routerLink="/login" routerLinkActive="active">AcceptNormal</button>
  </div>
</modal-popup>
<!-- ************************************************* -->
