
  <div role="alert" class="alert alert-warning text-center">
    <h2>Cancel account</h2>
      Are you sure? Cancelling your account implies the deletion of all your data.<br>
      This action is permanent
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <a href="" class="btn btn-block btn-danger">Cancel</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <a href="" class="btn btn-block btn-smart">Accept</a>
      </div>
    </div>
    
  </div>
