
  <div class="row">
    <div class="col-md-12">
      <h2>{{title}}</h2>
      <hr class="title-hr">
      <div class="row">
        
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"  class="form-control" placeholder="Name"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="inlineFormInputGroup">Vehicle Type</label>
            <select class="form-control"
               [(ngModel)]="vehicleTypes"
                (ngModelChange)="changeVehicleType($event)">
                <option *ngFor="let vehicleType of vehicleTypes" [ngValue]="vehicleType">{{vehicleType.name}}</option>
              </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="brandName">Brand Name</label>
            <input type="text"  class="form-control" placeholder="Brand Name"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="modelName">Model Name</label>
            <input type="text"  class="form-control" placeholder="Model Name"/>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text"  class="form-control" placeholder="Description"> </textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="plateI">Plate Identifier</label>
            <input type="text"  class="form-control" placeholder="Plate Identifier"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="inlineFormInputGroup">Fuel Type</label>
            <select class="form-control">
               
              </select>
          </div>
        </div>    
        <div class="col-md-3 col-md-offset-6">
          <div class="form-group">
            <span class="labelHidden"></span>
            <a [routerLink]="['/smart-cities/vehicles']" class="btn btn-danger btn-block" > Cancel </a>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="form-group">
            <span class="labelHidden"></span>
            <a type="submit" class="btn btn-smart btn-block" > Save</a>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <hr class="subTitle-hr">
          </div>
        </div>
      </div>
     
    </div>
  </div>