  <form [formGroup]="UserTrayForm" >
 <div class="row">
    <div class="col-md-12">
      <h2>User Manager Tray</h2>
      <hr class="title-hr">
      <div class="row">
           <div class="col-md-6">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" [formControl]="UserTrayForm.controls['name']"  class="form-control" placeholder="Search by Name"/>
          </div>
        </div>
        
         <div class="col-md-6">
          <div class="form-group">
            <label for="">Family Name</label>
            <input type="text" [formControl]="UserTrayForm.controls['familyname']"  class="form-control" placeholder="Search by Family Name"/>
          </div>
        </div>
       

       

        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">email</label>
            <input type="text"  [formControl]="UserTrayForm.controls['email']"   class="form-control" placeholder="Search by Email"/>
            
            <div *ngIf="UserTrayForm.controls['email'].hasError('email') && UserTrayForm.controls['email'].touched" class="alert alert-danger" i18n>Email does not have a valid structure</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Role</label>
           <select id="role" [formControl]="UserTrayForm.controls['role']" class="form-control">
                <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
              </select>
              
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9"></div>
         <div class="col-md-3">
          <div class="form-group">
            <span class="labelHidden"></span>
            <a type="submit" class="btn btn-smart btn-block" > Search </a>
          </div>
        </div>
      </div>
      <div class="row">
           <div class="col-md-9"></div>
            <div class="col-md-3 ">
          <div class="form-group">
            <span class="labelHidden"></span>
            <a [routerLink]="['/smart-cities/user-manager/user-register']" class="btn btn-smart btn-block" > Add </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table ">
              <thead class="thead-default">
                  <tr >
                      <th>Name</th>
                      <th>Family Name</th>
                      <th>Email</th>
                      <th>Role</th>
                      <th>Delete</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of users">
                      <td>{{user.name}}</td>
                      <td>{{user.familyname}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.role}}</td>
                      <td>
                        <a *ngIf="user.canDel==true" class="btn btn-danger"  ngbTooltip="Edit" placement="top">
                          <i aria-hidden="true" class="fa fa-trash" (click)="deleteUser(UserTrayForm.value,true,user.email, user.name,user.familyname,user.role)"></i>
                        </a>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </form>