<h2>
  User profile
</h2>
<hr class="title-hr">
<div class="row">
  <div class="col-md-12">
    <p>Register / Edit User (Data marked with * are required) </p>
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['name'].valid && complexForm.controls['name'].touched}">
              <label for="name">Name *</label>
              <input type="text" class="form-control" placeholder="Name" id="name"
                [formControl]="complexForm.controls['name']"/>
              <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger" i18n>The name is required.</div>
              <div *ngIf="complexForm.controls['name'].hasError('minlength') && complexForm.controls['name'].touched" class="alert alert-danger" i18n>The name must be have two characters.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['familyName'].valid && complexForm.controls['familyName'].touched}">
              <label for="familyName">Family name *</label>
              <input type="text" class="form-control" placeholder="Family Name" id="familyName"
                [formControl]="complexForm.controls['familyName']"/>
              <div *ngIf="complexForm.controls['familyName'].hasError('required') && complexForm.controls['familyName'].touched" class="alert alert-danger" i18n>The family name is required.</div>
              <div *ngIf="complexForm.controls['familyName'].hasError('minlength') && complexForm.controls['familyName'].touched" class="alert alert-danger" i18n>The family name must be have two characters.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['birthDate'].valid && complexForm.controls['birthDate'].touched}">
              <label for="birthDate">Birth date</label>
              <input class="form-control" type="date" id="birthDate" placeholder="yyyy-mm-dd"
                [formControl]="complexForm.controls['birthDate']"/>
              <div *ngIf="complexForm.controls['birthDate'].hasError('dateISO') && complexForm.controls['birthDate'].touched" class="alert alert-danger" i18n>The birth date format is invalid.</div>
              <div *ngIf="complexForm.controls['birthDate'].hasError('maxDate') && complexForm.controls['birthDate'].touched" class="alert alert-danger" i18n>The birth date can't be greated than current date</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group radioCustom">
              <label for="gender">Gender</label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="MALE" [formControl]="complexForm.controls['gender']"/> M
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="FEMALE" [formControl]="complexForm.controls['gender']"/> F
              </label>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-lg-3 offset-lg-6 col-md-6">
            <div class="form-group">
              <a class="btn btn-danger btn-block" routerLink="/smart-cities" routerLinkActive="active" > Cancel </a>&nbsp;            
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="form-group">
              <button type="submit" class="btn btn-smart btn-block" [disabled]="!complexForm.valid" i18n  > Save </button>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-12">
            <hr class="subTitle-hr">
          </div>
          <div class="col-md-12">
            <p>Green Route can help you to determine the best route to follow to reach a destination, so you could add some favorite addresses to generate in a simple way a route, for instance to your work or home.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 offset-lg-6 col-md-6">
            <div class="form-group">
              <button class="btn btn-smart btn-block" routerLink="/smart-cities/user-account/address" routerLinkActive="active"> Add address</button>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-lg-12" >
            <div class="table-responsive">
              <div class="no-more-tables">
                <table class="table">
                  <thead class="thead-default">
                    <tr>
                      <th>Address</th>
                      <th>Type</th>
                      <th>Favorite</th>
                      <th colspan="2">
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngIf="userProfile.addresses && userProfile.addresses.length != 0" >
                    <tr *ngFor="let address of userProfile.addresses  | paginate: { itemsPerPage: 4, currentPage: p }">
                      <td data-title="Address">{{ address.street }}, {{ address.locality.name }}, <span *ngIf="address.postalCode" >{{ address.postalCode }}, </span> {{ address.locality.region.name }}, {{ address.locality.region.country.name }} </td>
                      <td data-title="Type">{{ address.addressType }}</td>
                      <td data-title="Favorite"><span class="fa fa-star" *ngIf="address.favorite"></span></td>
                      <td data-title="Edit">
                        <a class="btn btn-smart" placement="top" ngbTooltip="Edit" routerLink="/smart-cities/user-account/address/{{ address.index }}" routerLinkActive="active">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td data-title="Delete">
                        <a class="btn btn-danger" placement="top" ngbTooltip="Delete" (click)="confirmDelete(address.index)">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>

<modal-popup [(visible)]="showDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="onContinue()">Accept</button>
</modal-popup>

<modal-popup [(visible)]="showConfirmDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" (click)="showConfirmDialog = false">Cancel</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="onDelete()">Accept</button>
    </div>
  </div>
</modal-popup>

<modal-popup [(visible)]="showErrorDialog" title="Error Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="showErrorDialog = false">Accept</button>
</modal-popup>
