<footer>
  <div class="col-md-12">
    <p>This application is supported by</p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3">
    <img src="../../assets/img/smart-sdk.png" class="img-fluid">
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3">
    <img src="../../assets/img/fi-ware.png" class="img-fluid">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="row">
      <div class="col-xs-8">
        <p class="europe-text">SmartSDK is the <strong>FIWARE</strong>’s “cookbook” for developing smart applications. 
          SmartSDK project is co-funded by the EU's Horizon2020 programme under 
          agreement number 723174 - ©2016 EC and by CONACYT agreement 737373</p>
      </div>
      <div class="col-xs-4">
        <img src="../../assets/img/flag_of_europe.png" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3">
    <img src="../../assets/img/infotec-logo.svg" class="img-fluid">
  </div>
  <div class="col-xs-6 col-sm-3">
    <img src="../../assets/img/ubiwhere-logo.svg" class="img-fluid">
  </div>

  <div class="clearfix hidden-sm"></div>

  <div class="col-xs-6 col-sm-3">
    <img src="../../assets/img/itesm-logo.svg" class="img-fluid">
  </div>
  <div class="col-xs-6 col-sm-3">
    <img src="../../assets/img/hop_logo.png" class="img-fluid">
  </div>
</footer>