<div class="row">
  <div class="col-md-12">
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      <p class="text-xs-center"><strong>{{successMessage}}</strong></p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <p class="text-xs-center"><strong>{{errorMessage}}</strong></p>
    </div>
    <h4>{{title}}</h4>
    <hr class="subTitle-hr">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="health-state">Name</label>
          <input type="text" class="form-control" placeholder="Name" id="group" [(ngModel)]="group.group"/>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" >
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label >Notifications</label>
        </div>
        <div class="clearfix"></div>
          <div class="col-md-6" *ngFor="let notification of allNotificationTypes">
            <div class="form-check" >
              <label class="form-check-label">
                <input class="form-check-input notification" name="notification" type="checkbox" [checked]="group.notificationIds != null && group.notificationIds?.indexOf(notification.id) !== -1"  value="{{notification.id}}">
                {{notification.name}}
              </label>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-3 col-md-offset-9">
      <div class="form-group">
        <a  class="btn btn-smart btn-block" (click)="save()"> Save </a>
      </div>
    </div>
  </div>
</div>
 <!--Implementación de ventana modal -->
<modal-popup [(visible)]="showDialog" title="System Message">
  {{messageModal}}
  <hr>
  <textarea *ngIf="includeText" type="text" class="form-control"> </textarea>
  <hr *ngIf="includeText">
  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="showDialog = false">Close</button>
</modal-popup>
<!-- ************************************************* -->