<div class="row">
  <div class="col-md-12">
    <h2>
      <span *ngIf="!publicTransport.id">New Public Transport</span>
      <span *ngIf="publicTransport.id">Edit Transport</span>
    </h2>
    <hr class="title-hr">

    <p *ngIf="!publicTransport.id">As a super admin, you can create, edit, update and delete public transport. Remember, the public transport created will be visualized for all the final users.</p>

    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="row">
        <div class="col">
          <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['name'].valid && complexForm.controls['name'].touched}">
            <label for="name">Name *</label>
            <input id="name" type="text"  class="form-control" placeholder="Name" [formControl]="complexForm.controls['name']"/>
            <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert alert-danger" i18n>The name is required</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['brandName'].valid && complexForm.controls['brandName'].touched}">
            <label for="brandName">Brand name *</label>
            <input id="brandName" type="text"  class="form-control" placeholder="Brand name" [formControl]="complexForm.controls['brandName']"/>
            <div *ngIf="complexForm.controls['brandName'].hasError('required') && complexForm.controls['brandName'].touched" class="alert alert-danger" i18n>The brand name is required</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['modelName'].valid && complexForm.controls['modelName'].touched}">
            <label for="modelName">Model name *</label>
            <input id="modelName" type="text"  class="form-control" placeholder="Model name" [formControl]="complexForm.controls['modelName']"/>
            <div *ngIf="complexForm.controls['modelName'].hasError('required') && complexForm.controls['modelName'].touched" class="alert alert-danger" i18n>The model name is required</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="passengersTotal">Passengers total</label>
            <input id="passengersTotal" type="text"  class="form-control" placeholder="Passengers total" [formControl]="complexForm.controls['passengersTotal']"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['idFuelType'].valid && complexForm.controls['idFuelType'].touched}">
            <label for="fuelType">Fuel type *</label>
            <select id="fuelType" class="form-control" [formControl]="complexForm.controls['idFuelType']">
              <option value="-1" disabled>select</option>
              <option *ngFor="let fuelType of fuelTypes" value="{{ fuelType.id }}">{{ fuelType.name }}</option>
            </select>
            <div *ngIf="complexForm.controls['idFuelType'].hasError('notEqual') && complexForm.controls['idFuelType'].touched" class="alert alert-danger" i18n>The fuel type is required</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fuelConsumption">Fuel consumption lts/km</label>
            <input id="fuelConsumption" type="text"  class="form-control" placeholder="Fuel consumption lts/km" [formControl]="complexForm.controls['fuelConsumption']"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="height">Height</label>
            <input id="height" type="number"  class="form-control" placeholder="Height" [formControl]="complexForm.controls['height']"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="width">Width</label>
            <input id="width" type="number"  class="form-control" placeholder="Width" [formControl]="complexForm.controls['width']"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="depth">Depth</label>
            <input id="depth" type="text"  class="form-control" placeholder="Depth" [formControl]="complexForm.controls['depth']"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="weight">Weight</label>
            <input id="weight" type="number"  class="form-control" placeholder="Weight" [formControl]="complexForm.controls['weight']"/>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="dateModified">Date modified</label>
            <div class="input-group">
              <span class="form-control">{{ publicTransport.dateModified }}</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="form-group">
            <label for="dateCreated">Date created</label>
            <div class="input-group">
              <span class="form-control">{{ publicTransport.dateCreated }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="description">Description</label>
            <input id="description" type="text"  class="form-control" placeholder="Description" [formControl]="complexForm.controls['description']"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group" [class.has-danger]="searchFailed">
            <label for="transportSchedule">Transport schedule</label>
            <input id="typeahead-http" type="text" class="form-control" [formControl]="complexForm.controls['model']" [ngbTypeahead]="search" placeholder="Transport schedule search" [editable]="false" />
            <span *ngIf="searching">searching...</span>
            <div class="form-control-feedback" *ngIf="searchFailed">Sorry, transport schedule don't found</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-6">
          <div class="form-group">
            <button type="button" class="btn btn-smart btn-block" (click)="onAddButton()" >Add schedule</button>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="publicTransport || publicTransport.transportSchedules">
        <div class="col">
          <div class="table-responsive">
            <div class="no-more-tables">
              <table class="table">
                <thead class="thead-default">
                  <tr>
                    <th>Route name</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th>Frequency</th>
                    <th>Agency</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let schedule of publicTransport.transportSchedules | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td data-title="Route name">{{ schedule.routeName }}</td>

                    <td data-title="Monday">
                      <span *ngIf="schedule.weekDays[0].active">
                        <span *ngIf="schedule.weekDays[0].departureTime != null">
                          {{ schedule.weekDays[0].departureTime.hour | number: '2.0' }}:{{ schedule.weekDays[0].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="schedule.weekDays[0].arrivalTime != null">
                          {{ schedule.weekDays[0].arrivalTime.hour | number: '2.0' }}:{{ schedule.weekDays[0].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </td>
                    <td data-title="Tuesday">
                      <span *ngIf="schedule.weekDays[1].active">
                        <span *ngIf="schedule.weekDays[1].departureTime != null">
                          {{ schedule.weekDays[1].departureTime.hour | number: '2.0' }}:{{ schedule.weekDays[1].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="schedule.weekDays[1].arrivalTime != null">
                          {{ schedule.weekDays[1].arrivalTime.hour | number: '2.0' }}:{{ schedule.weekDays[1].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </td>
                    <td data-title="Wednesday">
                      <span *ngIf="schedule.weekDays[2].active">
                        <span *ngIf="schedule.weekDays[2].departureTime">
                          {{ schedule.weekDays[2].departureTime.hour | number: '2.0' }}:{{ schedule.weekDays[2].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="schedule.weekDays[2].arrivalTime">
                          {{ schedule.weekDays[2].arrivalTime.hour | number: '2.0' }}:{{ schedule.weekDays[2].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </td>
                    <td data-title="Thursday">
                      <span *ngIf="schedule.weekDays[3].active">
                        <span *ngIf="schedule.weekDays[3].departureTime">
                          {{ schedule.weekDays[3].departureTime.hour | number: '2.0' }}:{{ schedule.weekDays[3].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="schedule.weekDays[3].arrivalTime">
                          {{ schedule.weekDays[3].arrivalTime.hour | number: '2.0' }}:{{ schedule.weekDays[3].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </td>
                    <td data-title="Friday">
                      <span *ngIf="schedule.weekDays[4].active">
                        <span *ngIf="schedule.weekDays[4].departureTime">
                          {{ schedule.weekDays[4].departureTime.hour | number: '2.0' }}:{{ schedule.weekDays[4].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="schedule.weekDays[4].arrivalTime">
                          {{ schedule.weekDays[4].arrivalTime.hour | number: '2.0' }}:{{ schedule.weekDays[4].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </td>
                    <td data-title="Saturday">
                      <span *ngIf="schedule.weekDays[5].active">
                        <span *ngIf="schedule.weekDays[5].departureTime">
                          {{ schedule.weekDays[5].departureTime.hour | number: '2.0' }}:{{ schedule.weekDays[5].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="schedule.weekDays[5].arrivalTime">
                          {{ schedule.weekDays[5].arrivalTime.hour | number: '2.0' }}:{{ schedule.weekDays[5].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </td>
                    <td data-title="Sunday">
                      <span *ngIf="schedule.weekDays[6].active">
                        <span *ngIf="schedule.weekDays[6].departureTime">
                          {{ schedule.weekDays[6].departureTime.hour | number: '2.0' }}:{{ schedule.weekDays[6].departureTime.minute | number: '2.0' }}
                        </span>
                        -
                        <span *ngIf="schedule.weekDays[6].arrivalTime">
                          {{ schedule.weekDays[6].arrivalTime.hour | number: '2.0' }}:{{ schedule.weekDays[6].arrivalTime.minute | number: '2.0' }}
                        </span>
                      </span>
                    </td>

                    <td data-title="Frequency">
                      <span *ngIf="schedule.frequency.hour != 0" >{{ schedule.frequency.hour | number: '2.0' }}:</span><span>{{ schedule.frequency.minute | number: '2.0' }}</span>
                      <span *ngIf="schedule.frequency.hour != 0" >hrs</span>
                      <span *ngIf="schedule.frequency.hour == 0" >min</span>
                    </td>

                    <td data-title="Agency">{{ schedule.agency.name }}</td>

                    <td data-title="Delete">
                      <a class="btn btn-danger" ngbTooltip="Delete" placement="top" (click)="onDeleteButton(schedule.index)">
                        <i aria-hidden="true" class="fa fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="11" align="center">
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 offset-md-6">
          <div class="form-group">
            <button type="submit" class="btn btn-smart btn-block" [disabled]="!complexForm.valid || unSaved" >Save</button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block" (click)="onBack()" >Cancel</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>

<modal-popup [(visible)]="showDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="onBack()">Accept</button>
</modal-popup>

<modal-popup [(visible)]="showConfirmDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" (click)="showConfirmDialog = false">Cancel</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="onDelete()">Accept</button>
    </div>
  </div>
</modal-popup>

<modal-popup [(visible)]="showErrorDialog" title="Error Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="showErrorDialog = false">Accept</button>
</modal-popup>
