<div class="container smart-home">
    <div class="row routes">
        <div class="col-md-12">
            <h1>Green Route: An app for pollution and traffic monitoring</h1>
            <p>The objective of Green Route  is to help the final user to determine the best route to
                follow to reach a destination, taking into account the user profile
                (such as health conditions), and the user preferences, such as transport type.
                Green Route proposes the ideal route for the user, avoiding routes with high
                levels of pollution, floods or pollen, etc., allowing for instance, to obtain
                the preferred routes for people with respiratory diseases.</p>
            <img src="../../assets/img/routes.svg" class="img-fluid">
            <h2>Go faster, move safely and keep healthy</h2>
        </div>
    </div>
    <div class="row smartRoutes">
        <div class="col col-xs-4">
            <img src="../../assets/img/smartRoutes.svg" class="img-fluid">
        </div>
        <div class="col col-xs-8">
            <h1>Smart Routes</h1>
            <p>The best route based on weather condition, pollution, traffic and your available transports</p>
        </div>
    </div>
    <div class="row smartRoutes">
        <div class="col col-xs-8">
            <h1>Taking care of your health</h1>
            <p>Register your health information to get the perfect route for you</p>
        </div>
        <div class="col col-xs-4">
            <img src="../../assets/img/health.svg" class="img-fluid">
        </div>
    </div>
    <div class="row smartRoutes">
        <div class="col col-xs-4">
            <img src="../../assets/img/bell.svg" class="img-fluid">
        </div>
        <div class="col col-xs-8">
            <h1>Keep up to date</h1>
            <p>Receive alerts and notifications about traffic jam, accidents, polluntants</p>
        </div>
    </div>
    <div class="row smartRoutes">
        <div class="col col-xs-8">
            <h1>Smart Points</h1>
            <p>Connect physical objects or places with your smart phone to offer and interactive and multimedia experience</p>
        </div>
        <div class="col col-xs-4">
            <img src="../../assets/img/smartPoints.svg" class="img-fluid">
        </div>
    </div>
</div>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<template ngbModalContainer #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>

<hr>

<pre>{{closeResult}}</pre>


<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-addon" (click)="d.toggle()" >
        <img src="../../../../../assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </div>
    </div>
  </div>
</form>

<hr/>
<pre>Model: {{ model | json }}</pre>
