<h1>
  Smart city App for Pollution and traffic monitoring
</h1>

<p>
  The objective of the Smart City App is to help the final user to determine the best route to follow to reach a destination, taking into account the user profile (such as health conditions), and the user preferences, such as transport type. Smart City App proposes the ideal route for the user, avoiding routes with high levels of pollution, floods or pollen, etc., allowing for instance, to obtain the preferred routes for people with respiratory diseases.
</p>

<p>
  Smart City App obtains data from mobile and fixed sensors (based on the IoT approach) to get real time information. Additionally, it obtains data from other sources, such as air conditions provided as open data and data generated through the concept of human-as-a-sensor to get the user feedback about specific conditions in its location (e.g., rain, pollution, etc.).
</p>
