<h2>Search of transport schedule</h2>
<hr class="title-hr">
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>Route name *</label>
      <input type="text" class="form-control" placeholder="Route name" >
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Frequncy *</label>
      <input type="text" class="form-control" placeholder="Frequncy" >
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Agency *</label>
      <select class="form-control">
        <option>Rutas Lopez</option>
        <option>Ruta 25</option>
      </select>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <span class="labelHidden hidden-md"></span>
      <button class="btn btn-smart btn-block"> Clear </button>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <span class="labelHidden hidden-md"></span>
      <button class="btn btn-smart btn-block"> Search </button>
    </div>
  </div>

</div>

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>Route name</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            <th>Frequency</th>
            <th>Agency</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 offset-lg-6 col-md-6">
    <div class="form-group">
      <span class="labelHidden hidden-md"></span>
      <button class="btn btn-smart btn-block" routerLink="/smart-cities/transport-schedule/add-schedule" routerLinkActive="active"> Add </button>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="form-group">
      <span class="labelHidden hidden-md"></span>
      <button class="btn btn-danger btn-block" routerLink="/smart-cities" routerLinkActive="active"> Back </button>
    </div>
  </div>
</div>

