<h2>Change your password <small>(Data marked with * are required)</small></h2>
<hr class="title-hr">

<form role="form" [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
  <div  class="row">
    <div  class="col-md-6">
      <div  class="form-group">
        <label >Email *</label>
        <div class="form-control" >{{ identityUser.username }}</div>
      </div>
    </div>
    <div  class="col-md-6">
      <div  class="form-group" [ngClass]="{'has-danger':!complexForm.controls['oldPassword'].valid && complexForm.controls['oldPassword'].touched}">
        <label for="oldPassword">Old password *</label>
        <input id="oldPassword" type="password" class="form-control" placeholder="Old password" [formControl]="complexForm.controls['oldPassword']"/>
        <div *ngIf="complexForm.controls['oldPassword'].hasError('required') && complexForm.controls['oldPassword'].touched" class="alert alert-danger" i18n>The old password is required</div>
      </div>
    </div>
  </div>
  <div  class="row">
    <div  class="col-md-6">
      <div  class="form-group" [ngClass]="{'has-danger':!complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
        <label for="password">New password *</label>
        <input id="password" type="password" class="form-control" placeholder="New password" [formControl]="complexForm.controls['password']"/>
        <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger" i18n>The new password is required</div>
        <div *ngIf="complexForm.controls['password'].hasError('minlength') && complexForm.controls['password'].touched" class="alert alert-danger" i18n>New password must be at least 8 characters.</div>
      </div>
    </div>
    <div  class="col-md-6">
      <div  class="form-group" [ngClass]="{'has-danger':!complexForm.controls['confirmPassword'].valid && complexForm.controls['confirmPassword'].touched}">
        <label for="confirmPassword">Confirm password *</label>
        <input id="confirmPassword" type="password" class="form-control" placeholder="Confirm password" [formControl]="complexForm.controls['confirmPassword']"/>
        <div *ngIf="complexForm.controls['confirmPassword'].hasError('required') && complexForm.controls['confirmPassword'].touched" class="alert alert-danger" i18n>The confirm password is required</div>
        <div *ngIf="complexForm.controls['confirmPassword'].hasError('equalTo') && complexForm.controls['confirmPassword'].touched" class="alert alert-danger" i18n>Password don’t match.</div>
      </div>
    </div>
  </div>
  <div  class="row">
    <div  class="col-lg-3 offset-lg-6 col-md-6">
      <div  class="form-group">
        <a class="btn btn-danger btn-block" routerLink="/smart-cities" routerLinkActive="active">Cancel</a>
      </div>
    </div>
    <div  class="col-lg-3 col-md-6">
      <div  class="form-group">
        <button class="btn btn-smart btn-block" [disabled]="!complexForm.valid">Save</button>
      </div>
    </div>
  </div>
</form>

<modal-popup [(visible)]="showDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="onContinue()">Accept</button>
</modal-popup>

<modal-popup [(visible)]="showConfirmDialog" title="System Message">
  {{messageModal}}
  <hr/>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-danger btn-block" data-dismiss="modal" (click)="showConfirmDialog = false">Cancel</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="onConfirm()">Accept</button>
    </div>
  </div>
</modal-popup>

<modal-popup [(visible)]="showErrorDialog" title="Error Message">
  {{messageModal}}
  <hr/>
  <button type="button" class="btn btn-smart btn-block" data-dismiss="modal" (click)="showErrorDialog = false">Accept</button>
</modal-popup>
