<h4>Change your password</h4>
<hr class="subTitle-hr">

<div  class="row">
  <div  class="col-md-6">
    <div  class="form-group">
      <label>E-mail</label>
      <input id="email" type="text" class="form-control" placeholder="Email"/>
    </div>
  </div>
  <div  class="col-md-6">
    <div  class="form-group">
      <label>Old password</label>
      <input type="password" class="form-control" placeholder="Old password"/>
    </div>
  </div>
</div>
<div  class="row">
  <div  class="col-md-6">
    <div  class="form-group">
      <label>New password</label>
      <input id="Npassword" type="text" class="form-control" placeholder="New password"/>
    </div>
  </div>
  <div  class="col-md-6">
    <div  class="form-group">
      <label>Confirm password</label>
      <input type="Cpassword" class="form-control" placeholder="Confirm password"/>
    </div>
  </div>
</div>
<div  class="row">
  <div  class="col-lg-3 col-lg-offset-6 col-md-6">
    <div  class="form-group">
      <a class="btn btn-danger btn-block">Cancel</a>
    </div>
  </div>
  <div  class="col-lg-3 col-md-6">
    <div  class="form-group">
      <a class="btn btn-smart btn-block">Save</a>
    </div>
  </div>
</div>
