
  <form [formGroup]="adminUserRegisterForm" (ngSubmit)="save(adminUserRegisterForm.value,adminUserRegisterForm.valid)">
    <h2>User Register</h2>
 <div class="row">
    <div class="col-md-12">
    
     
       <!-- Modal-->
        <modal-popup [(visible)]="modShowDialog" title="Smart Cities Message">
          {{errorMessage}}
        <hr>
        <textarea *ngIf="includeText"   type="text"  class="form-control"> </textarea>
        <hr *ngIf="includeText">
        <div class="row">
          <div *ngIf="!modIsConfirm" class="col">
            <button type="button"  class="btn btn-smart btn-block" data-dismiss="modal" (click)="modShowDialog = false">Accept</button>
          </div>
          <div *ngIf="modIsConfirm" class="col">
           <button  type="button"  class="btn btn-smart btn-block" data-dismiss="modal" (click)="redirect()">Accept</button>        
          </div>
        </div>   
        </modal-popup>
        <!-- ************************************************* -->
      <div class="row">
          
           <div class="col-md-6">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" [formControl]="adminUserRegisterForm.controls['name']" [(ngModel)]="userModel.name" class="form-control" placeholder="Name"/>
            <div *ngIf="adminUserRegisterForm.controls['name'].hasError('required') && adminUserRegisterForm.controls['name'].touched" class="alert alert-danger">The name is required.</div>
          </div>
          </div>
          <div class="col-md-6">
          <div class="form-group">
            <label for="">Family Name</label>
            <input type="text" [formControl]="adminUserRegisterForm.controls['familyName']" [(ngModel)]="userModel.familyName" class="form-control" placeholder="familyname"/>
            <div *ngIf="adminUserRegisterForm.controls['familyName'].hasError('required') && adminUserRegisterForm.controls['familyName'].touched" class="alert alert-danger">The family name is required.</div>
          </div>
        </div>
        
      </div>
          
       <div class="row">  
           
         <div class="col-md-6">
          <div class="form-group">
            <label for="">email</label>
            <input type="text" ng-model="email" [formControl]="adminUserRegisterForm.controls['email']"  [(ngModel)]="userModel.email"  class="form-control" placeholder="Email"/>
            <div *ngIf="adminUserRegisterForm.controls['email'].hasError('required') && adminUserRegisterForm.controls['email'].touched" class="alert alert-danger" i18n>The email is required.</div>
            <div *ngIf="adminUserRegisterForm.controls['email'].hasError('email') && adminUserRegisterForm.controls['email'].touched" class="alert alert-danger" i18n>Please enter a valid email address.</div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Role</label>
            <select id="role" [formControl]="adminUserRegisterForm.controls['role']" [(ngModel)]="userModel.role" class="form-control">
                <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
              </select>
              <input type="hidden" name="roleid" id="role_id" value="" />
              <div *ngIf="adminUserRegisterForm.controls['role'].hasError('required') && adminUserRegisterForm.controls['role'].touched" class="alert alert-danger">The Role is required.</div>
          </div>
        </div>
         
       </div> 
                 
      <div class="row">
         
           <div class="col-md-6 "> </div>
            <div class="col-md-3 ">
          <div class="form-group">
            <span class="labelHidden"></span>
            
            <a [routerLink]="['/smart-cities/user-manager/user-manager-tray']" class="btn btn-danger btn-block" > Cancel </a>
            
          </div>
        </div>
          <div class="col-md-3 ">
          <div class="form-group">
            <span class="labelHidden"></span>
            <button [disabled]="!adminUserRegisterForm.valid" type="submit" class="btn btn-smart btn-block" > Save</button>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <hr class="subTitle-hr">
          </div>
        </div>
        
      </div>

      
    </div>
  </div>
  </form>

