@import "../bootstrap/bootstrap.scss";

$topnav-background-color: #00D3DE;
.user-avatar {
    border: 3px solid #FFF;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
#toggle-sidebar{
    position: fixed;
    top: 0px;
    left: 5px;
    color: $brand-bluedark;
    background: $brand-bluelight;
    font-size: 23px;
    z-index: 3;
    display: none;
    cursor: pointer;
}
.btn:focus{
    outline: 3px auto #FFF;
}
.topnav{
  border-radius: 0;
  background-color: $topnav-background-color;
  padding : 6px;
    z-index:2;
    .text-center{
        text-align: center;
        padding-left : 0;
        cursor: pointer;
    }
    .top-right-nav{
        .buy-now{
            a{
                color:#999;
            }
        }
        .dropdown-menu{
            top: 40px;
            right: -5px;
            left : auto;
            .message-preview{
                .media{
                    .media-body{
                        .media-heading{
                            font-size: 14px;
                            font-weight: bold;     
                            margin-bottom : 0;  
                        }
                        p{
                            margin : 0;
                        }
                        p.last{
                            font-size : 13px;
                            margin-bottom: 0;
                        }
                    }                    
                }
            }
            hr {
                margin-top: 1px;
                margin-bottom: 4px;
            }
        }
    }
    
}
a:hover{
    text-decoration: none;
}
.sidebar{
  border-radius: 0;
  position: fixed;
    z-index: 3;
    top: 50px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: $brand-sidebar;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    .list-group{
        .list-group-item{
            padding: .75rem !important;
        }
        a{
            background: $brand-sidebar !important;
            border: 0;
            border-radius: 0;
            color: #fff;
            text-decoration: none;
        }
        a:hover{
            background: lighten($brand-sidebar, 10%) !important;
            color: #fff;
        }
        a.router-link-active{
            background: lighten($brand-sidebar, 10%);
            color: #fff;
        }
    }
    .sidebar-dropdown{
        *:focus{
            border-radius: none;
            border:none;
        }
        .panel-title{
            font-size : 1rem;
            height : 50px;
            margin-bottom:0;
            a{
                color : #999;
                text-decoration : none;
                font-weight:400;
                background:$topnav-background-color;
                span{
                    position: relative;
                    display: block;
                    padding: .75rem 1.5rem;
                    padding-top:1rem;
                }
            }
            a:hover,a:focus{
                color: #fff;
                outline: none;
                outline-offset: -2px;
            }
        }
        .panel-title:hover{
            background: darken($topnav-background-color, 5%);
        }
        .panel-collapse{
            border-radious :0;
            border : none;
            .panel-body{
                .list-group-item{
                    border-radius : 0;
                    background-color: $topnav-background-color;
                    border: 0 solid transparent;
                    a{
                        color:#999;
                    }
                    a:hover{
                        color:#FFF;
                    }
                }
                .list-group-item:hover{
                    background : darken($topnav-background-color, 5%);
                }
            }
        }
    }
}

.bg-white {
    background: #fff;
}
.main-container{
  margin: 50px 0 0 225px;
    padding: 10px;
    -ms-overflow-x: hidden;
        overflow-x: hidden;
    position: relative;
}
.chat-panel{
    .chat-dropdown{
        margin-top: -3px;
    }
    .chat{
        .left{
            img{
                margin-right: 15px;
            }
        }
        .right{
            img{
                margin-left: 15px;
            }
        }
        height: 350px;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            margin-bottom: 10px;
            margin-right: 15px;
            padding-bottom: 5px;
            border-bottom: 1px dotted #999;
        }   
    }
    .card-footer{
        input{  
            padding : 3px;
        }
    }
}
/* RTL ashboard */
.sidebarPushRight{
    left: 225px !important;
    z-index:10;
}
.mainContainerPushLeft{
    margin : 55px 255px 0 0;
}
/* End */

.display-sm{
    display:none;
}
.hide-sm{
    display:block;
}
.userMainMenu{
    display: none;
}
@include media-breakpoint-down(md) {
    .userMainMenu{
        display: block
    }
}
@media (min-width: 0){
    .navbar-toggleable-xs {
        display: block !important;
    }
}
@media screen and (max-width: 600px) {
    .topnav{
        .text-center{
            a{
                font-size: 20px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #toggle-sidebar{
        display:block;
    }
    .topnav{
        .text-center{
            padding-left : 55px;
        }
    }
    .top-right-nav{
        display: none;
    }
    .navbar-brand{
        text-align: center;
        display: inline-block;
        cursor: pointer;
    }
    
    .show-name{
        display: block !important;
        z-index: 1;
    }
    .display-sm {
        display:block;
    }
    .hide-sm{
        display:none;
    }
    .sidebar{
        left:0;
    }
    .main-container{
        margin-left : 0;
    }
    .loading {
        left: 39% !important;
    }
}
.carousel {
    .carousel-control{
        cursor: pointer;
    }
    .carousel-inner {

        .carousel-item{
            img{
                width : 100%;
                max-height : 373px;
            }
        }
        .fa-chevron-left:before {
            position: absolute;
            top: 46%;
            left : 50px;
        }
        .fa-chevron-right:before {
            position: absolute;
            top: 46%;
            right : 50px;
        }
    }
}

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-image: url('../img/bg_login.png');
    text-align: center;
    color: #002466;
    padding: 2em 3em;
    border-top: 1px solid #6CC4D3;
    .panel {
        margin: 25px 0px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
        padding: 25px;
        border: 1px solid #6CC4D3;
        overflow: hidden;
    }
    .col-lg-4{
        padding :0;
    }
    h1, h2 {
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 36px;
        font-weight: bold;
        color: $brand-bluedark;
        small {
            color: rgba(255,255,255,0.7);
        }
    }
    h3{
        text-align: left !important;
        color: $brand-bluedark;
    }

    .form-group {
        text-align: left !important;
        padding: 8px 0;
        input::-webkit-input-placeholder {
        color: $gray !important;
        }
         
        input:-moz-placeholder { /* Firefox 18- */
        color: $gray !important;  
        }
         
        input::-moz-placeholder {  /* Firefox 19+ */
        color: $gray !important;  
        }
         
        input:-ms-input-placeholder {  
        color: $gray !important;  
        }
    }
}
@include media-breakpoint-down(sm) {
    .login-page {
        padding: 2em 1em;
    }
}
@include media-breakpoint-down(xs) {
    .login-page {
        padding: 2em .5em;
        .panel{
            padding: 25px 5px;
        }
    }
}
.page-no-found {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-image: url('../img/bg_404.png');
    text-align: center;
    color: #fff;
    padding: 3em;
    border-top: 1px solid #002d67;
    img{
        max-height: 150px;
        margin-top: 10%;
    }
    h2{
        font-size: 3.5rem;
        font-weight: bold;
        margin-top: 25px;
    }
    h3{
        color: #474747;
    }
    .back-btn{
        color: #fff;
        border: 1px solid #fff;
        padding: 15px 30px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 50px;
        &:hover{
            background: #fff;
            color: $brand-bluelight;
            border-color: #fff;
        }
    }
}
.nested-menu {
    .list-group-item {
        cursor: pointer;
        padding: 0.75rem !important;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        height: 0;
        display: none;
    }
    ul.submenu1 {
        height: 0;
        display: none;
    }
    & .expand {
        ul.submenu {
            list-style-type: none;
            height: auto;
            display: block;
            margin-left: -35px;
            border-right: 3px solid #00d3de;
            font-size: 13px;
            li {
                a {
                    color: #FFF;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
    & .expand1 {
        ul.submenu1 {
            list-style-type: none;
            display: block;
            height: auto;
            margin-left: -40px; 
        }
    }
    .lgiCustom{
        padding: 10px 20px 10px 10px;
    }
}

.nested-menu2 {

    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        height: 0;
        list-style:none;
    }
    ul.submenu1 {
        height: 0;
        display: none;
    }
    & .expand {
        ul.submenu {
            margin-left: -40px; 
            list-style-type: none;
            height: auto;
            display: block;
            li {
                a {
                    color: #FFF;
                    padding: 10px;
                    display: block;
                }
            }
        }
    }
    & .expand1 {
        ul.submenu1 {
            list-style-type: none;
            display: block;
            height: auto;
            margin-left: -40px; 
        }
    }
    .lgiCustom{
        padding: 10px 20px 10px 10px;
    }
}

.spinner {
    position: fixed !important;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -55px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
.radioCustom{
    label{
        display: block !important;
    }
    .radio-inline{
        display: inline-block !important;
    }
}
.labelCustomMoreInput, .formGroupCustomMoreInput{
    margin: 0px !important;
}
.labelHidden{
    display: block;
    height: 33px;
}
@media (max-width: 768px){
    .labelHidden{
        display: none;
    }
}
.title-hr, .subTitle-hr{
    margin-top: 0px; 
    margin-bottom: 25px;
}
.subTitle-hr{
     border-top: $hr-border-width solid $brand-sidebar;
}
h4{
    font-size: 1rem !important;
    font-weight: bold;
}
.head-btn{
    width: 12%;
}
.form-group{
    .alert{
        padding: 5px !important;
        margin: 10px 0 !important;
    }
}
.iBlock{
    display: inline-block;
    width: 25px;
    text-align: center;
}
footer{
    border-top: solid 2px $brand-sidebar;
    padding-top: 20px;
    margin-top: 50px;
    img{
        padding: 5px;
        margin: 10px;
        max-height: 60px;
        &:hover{
            opacity: .9;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
                -ms-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
        }
    }
    .europe-text{
        font-size: 10px;
        padding: 15px;
        text-align: justify;
    }
    .hidden-sm{
        display: none;
    }
}
@include media-breakpoint-down(sm) {
    .hidden-sm{
        display: block !important;
    }
}
.footerLogin{
    footer{
        border-top: solid 2px #d8d8d8 !important; 
    }
    .europe-text{
        text-align: left !important;
    }

}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{
    top:0 !important;
    right:100% !important;
    margin-top: -5px;
    margin-left:-1px;
    -webkit-border-radius:6px 0px 6px 6px;
    -moz-border-radius:6px 0px 6px 6px;
    border-radius:6px 0px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropup .dropdown-submenu>.dropdown-menu{top:auto;bottom:0;margin-top:0;margin-bottom:-2px;-webkit-border-radius:5px 5px 5px 0;-moz-border-radius:5px 5px 5px 0;border-radius:5px 5px 5px 0;}
.dropdown-submenu>a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color: $brand-sidebar;
    margin-top:7px;
    margin-right:-10px;}

.list-group-item .label-pill {
    right: 16px !important;
    top: 16px !important;
    padding: 2px 5px !important;
}
.info-number .label-pill, .list-group-item .label-pill {
    background: #ff6c60;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 1px 3px;
    position: absolute;
    right: 12px;
    top: 5px;
}
.smart-home{
    text-align: center;
    h1{
        margin-bottom: 20px;
    }
    h2{
        margin: 40px;
    }
    p{
        margin: 10px;
    }
    .routes{
        img{
            max-height: 250px;
        }
    }
    .smartRoutes {
        margin: 40px auto;
        h1{
            margin: 20px auto;
        }
        img{
            max-height: 125px;
        }
    }

}
.ng2-pagination{
    margin: 1rem 0 !important;
}
.text-center{
    text-align: center !important;
}
.table-schedule{
    text-align: center;
    thead th{
        text-align: center;
        border: none;
        &:first-child{
            text-align: left;
        }
    }
    td{
        vertical-align: middle;
        border: none;
    &:first-child{
        text-align: left;
    }
    }
}
.time-picker{
    table{
        width: 100%;
        min-width: 140px;
        display: table;
            tr{
            &:hover{
            background-color: transparent !important;
            }
        }
        td{
            border: none !important;
            padding: 2px;
        }
    }
    .btn-link {
       color: #00d3de !important;
    }
    .form-control{
        padding: 0.3rem 0.75rem;
    }
}
.d-inline-block{
    max-width: 250px;
}
/*no more table*/

@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    .no-more-tables table,
        thead,
        tbody,
        th,
        td,
        tr {
        display: block;
    }
    .time-picker{
        table{
            display: table;
        }
        tbody{
            display: table-row-group;
        }
        tr{
            display: table-row;
            border: none !important;
        }
        td{
            display: table-cell;
        }
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .no-more-tables tr { border: 1px solid #ccc; }

    .no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    .no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .no-more-tables td:before { content: attr(data-title); }
}
.fixedNone{
    display: none;
}
.fixedShow {
    position:fixed; 
    top:0; 
    left:0; 
    z-index:2; 
    width:100%; 
    display:block !important;
}
.right-chevron{
    position: absolute;
    right: 10px;
    top: 15px;
}